body {
  display: block;
  height: 100vh;
  width: 100vw;
}

.header {
  height: 20%;
  width: 100%;
  color: #006C7F;
}

.main {
  display: flex;
  height: 80%;
  width: 100%;
  color: #FF881E;
}

.sidebar {
  height: 100%;
  width: 30%;
  color: #CC3AC9;
}

.puzzleholder {
  height: 100%;
  width: 40%;
  color: #72FF47;
}
